# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm files
.idea/

# VSCode files
.vscode/

# macOS-specific
.DS_Store

# Turtle graphics images or outputs (if any)
*.gif
*.png
*.jpg
